* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    }

    header {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100px;
        background: white;
        border: 4px solid black;
        color: black;
        padding-top: 10px;
        padding-bottom: 0px;
        justify-content: space-between;
        text-align: center;
        font-size: 18px;
    }

    header .nombre{
        position: absolute;
        top: 20px;
        left: 150px;
        font-size: 18px;
        color: black;
        pointer-events: none;
    }

    header p {
        position: absolute;
        top: 10px;
        right: 140px;
        color: black;
        padding-top: 10px;
        padding-bottom: 0px;
        justify-content: space-between;
        text-align: center;
        font-size: 18px;
    }

    .cintillo {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10%;
        height: 100px;
        z-index: 0; 
        }

    .logo {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 10%;
        height: 100px;
        z-index: 0;
        border-top: 4px solid black;
        border-right: 4px solid black;
        border-bottom: 4px solid black;
    }