# Permitir acceso solo a imágenes
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>

# Denegar acceso a otros archivos
<FilesMatch "^\.">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Desactivar ejecución de PHP
php_flag engine off
